<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Store Data in MySQL</h1>
    <form action="/submit" method="POST">
        <label for="content">Enter something:</label>
        <input type="text" id="content" name="content">
        <button type="submit">Submit</button>
    </form>
</body>
</html>

